/* ロードページ */
.LoadingPage{
  width: 100vw;
  height: 100vh;
  display: flex;
  text-align: center;
  justify-content: center;
  background-color:#fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}
/* 水平線部分 */
.Text-Span {
  position: absolute;
  left:40%;
  bottom: 10%;
  transform: translateX(0%);
  width: 0%;
  height: 4px;
  background: #E8430F;
  opacity:0.8;
  transition: all 1.2s;
  z-index: 1;
}

.Text-Span.isActive{
  width:20%;
}
.DisplayNone{
  opacity: 0;
  transition: .8s;
  pointer-events: none;
}

/*ダイヤモンド */
.LoadingPage2{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content:center;
  align-items: center;
  background-color:#fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9000;
}
.diamond {
  width: 30%; 
  /* //画面によって変化、widthだけ指定してheightは指定しない */
  background: #E8430F;
  opacity:0.8;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  animation: zoom-in-anim 3s;

  }
  .diamond::before {
    content: "";
    display: block;
    padding-top: 100%;

  }

  @keyframes zoom-in-anim {
    0% {
    transform: rotate(-45deg) scale(1);
    }
    100% {
    transform: rotate(-45deg) scale(4);
    }
  }


/* 全体 */
.container{
  width: 100%;
}

/* header */
.header {
 height: 50px;
 display: flex;
 align-items: center;
}
.headrLeft img{
  width:80px;
  height: 80px;
  margin-left: 15px;
}

.headrRight{
margin-left: auto;

}
/*メインページ */
.mainContainer{
  margin: 15px;
  position: relative;

}
.mainImg{
  width:100%;
  border-radius: 30px;
}
.imageAnimation{
  animation-name: fadeup;
  animation-duration: 2s;
}
@keyframes fadeup {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
  }
.AboutTile{
  font-size: 1.6em;
  font-family: 'Yantramanav', sans-serif;
  font-weight: 600;
  letter-spacing: .5em;
  margin-bottom: 1em;
  color: #3b39a3;
  position: relative;
  z-index: 11;
}
.textArea{
  position:absolute;
  bottom: 20px;
  right:20px;
  background-color: #fff;
  opacity: 0.8;
  border-radius: 30px;
  width: 500px;
  height: 400px;
  margin-right: auto;
  margin-left:auto;
  padding: 10px;
}

/* member-title */
.MembersContainer{
  margin: 15px
  }
.MemberTitleArea{
  margin-left: 15px;
}
.MemberTitle{
  font-family: 'Yantramanav', sans-serif;
  font-weight: 400;
  letter-spacing: .4em;
  background: -webkit-linear-gradient(left, #ff758c 0%, #ff7eb3 100%);
  background: linear-gradient(to left, #ff758c 0%, #ff7eb3 100%);
  color: #fff;
  padding: .4em 2em .3em;
  line-height: 1;
  display: inline-block;
  margin-bottom: 1em;
}
.memberItems{
  display:flex;

  align-items: start;
  flex-wrap: wrap;
}
.memberItem{
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
}
.memberImg{
  width: 150px;
  height: 230px;
  overflow: hidden;
  border-radius: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
  cursor: pointer;
}
.memberImg{
  transition-duration: 0.3s;
}
.memberImg:hover{
  transform: scale(1.1);
  transition-duration: 0.3s;
}
.MemberName{
  margin-left:auto;
  margin-right:auto;


}
/* ナブボタン */
.nabButtonComponent{
  position: relative;
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  flex-wrap: wrap;
  position: fixed; /* 要素の位置を固定する */
  bottom: 0; /* 基準の位置を画面の一番下に指定する */
  right: 0; /* 基準の位置を画面の一番右に指定する */
  cursor: pointer;
}
.mainButtonArea{
  position: relative;
  margin-left: auto;
}
.mainButton{
  width: 100px;/*幅*/
	height: 100px;/*高さ*/
	border-radius: 50%;/*角丸*/
  border:1px solid #645FF1;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;

}
.mainButtonLogo{
  width:70px;
  height:70px;
}
.CircleIcon{
  font-size: large;
  color:#645FF1;
  position: absolute;
  bottom: 0px;
  left:0px;
}

.subButton{
  width: 60px;/*幅*/
	height: 60px;/*高さ*/
	border-radius: 50%;/*角丸*/
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  position: absolute;
  bottom:20px;
  right:20px;
  transition: all 500ms 0s ease;
}
.withU{
  transform:translateX(10px) translateY(10px);
  /* position: absolute; */
  bottom:30px;
  right:120px;
  transition-delay: 0.5s;
}
.Mobile{
  transform:translateX(10px) translateY(10px);
  /* position: absolute; */
  bottom:100px;
  right:80px;
  transition-delay: 0.6s;

}
.About{
  transform:translateX(10px) translateY(10px);
  /* /* position: absolute; */
  bottom:120px;
  right:10px;
  transition-delay: 0.7s;

}
.start{
  position: absolute;
  bottom:20px;
  right:20px;
}
.active {
  transform:translateX(20px) translateY(20px);
  background: #ff0000;
}


/* MV */
.MV{
  display:flex;
  justify-content: center;
  margin-bottom: 50px;
}
.MVCopntainer{
  padding-left: 20px;
  padding-right: 20px;
  width: 70%;
}
#main {
  height: auto;
  position:relative;
}

.ondemandVideoRoundedIcon{
  color:#fff;
  position:absolute;
  left:48%;
  top:40%;
  z-index:50;
  
}
.ondemandVideoRoundedIcon:hover{
  color:#E41495 !important;
}




/* swiper */
#root { height: 100% }
html,
body {
  position: relative;
  height: 100%;
}



.swiper-container {
  padding-left: 20px;
  padding-right: 20px;
  width: 70%;
  color:#E41495 ;
  z-index:1;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

:root {
  --swiper-theme-color:#E41495 !important;
}
:root {
  --swiper-navigation-size: 60px !important;

}

/* swiperここまで */



@media screen and (max-width: 959px) {
	/* 959px以下に適用されるCSS（タブレット用） */
  .mainContainer{
    margin: 15px;
    position: none;
    }
    .mainImg{
      width:100%;
      border-radius: 30px;
    }
    .AboutTile{
      font-size: 1.6em;
      font-family: 'Yantramanav', sans-serif;
      font-weight: 600;
      letter-spacing: .5em;
      margin-bottom: 1em;
      color: #3b39a3;
      position: relative;
      z-index: 11;
    }
    .memberImg{
      width: 90px;
      height: 140px;
    }
    .Text-Span {
      position: absolute;
      left:30%;
      bottom: 10%;
      transform: translateX(0%);
      width: 0%;
      height: 4px;
      background: #E8430F;
      opacity:0.8;
      transition: all 1.2s;
      z-index: 1;
    }
    
    .Text-Span.isActive{
      width:40%;
    }

}




